{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["fbjs", "eslint-config-prettier", "prettier/@typescript-eslint"],
  "rules": {
    "strict": 0,
    "no-unused-vars": "warn",
    "no-undef": "error",
    "no-useless-escape": 0,
    "max-len": 0
  },
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "globals": {
    "expect": true,
    "apps": true,
    "request": true,
    "Promise": true
  }
}
